<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shoppingmall"
        tools:targetApi="31">
        <activity
            android:name=".home.fragment.UserCartFragment"
            android:exported="false" />
        <activity
            android:name=".home.fragment.TypeCartFragment"
            android:exported="false" />
        <activity
            android:name=".home.fragment.ShoppingCartFragment"
            android:exported="false" />
        <activity
            android:name=".home.fragment.CommunityFragment"
            android:exported="false" />
        <activity
            android:name=".home.fragment.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".base.BaseFragment.java"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>
<!--开启网络服务权限，用于实现轮播图-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    </manifest>